build/*
doc/*
test/examples/*
out/*
src/.vscode/
tmp/*
lsp/build/
tools/Zed\ plugins/languagge-support/target/
tools/Zed\ plugins/languagge-support/Cargo.toml

*.exe
*.txt
*.wasm
*.lock

TODO.md

.clangd

.vscode/

!doc/doc.md
!doc/doc.html
!doc/bytecode.md
!doc/bytecode.html
!doc/grammar.ebnf

!test/examples/Allocations
!test/examples/Arrays
!test/examples/Comments
!test/examples/Literals
!test/examples/Operators
!test/examples/Pointers
!test/examples/CompileTime
!test/examples/HelloWorld
!test/examples/Imports
!test/examples/Strings
!test/examples/Structs
!test/examples/Functions
!test/examples/Loops
!test/examples/Namespaces
!test/examples/Tetris

!build/compiler.bat
!build/libtcc.dll
